:root {
  --input-color: rgba(255, 255, 255, 30%);
  --input-border: 1px solid black;
  --input-box-shadow: 2px 3px 3px rgb(85, 83, 83);
}

.carrousel-title {
  margin-top: 40px;
  margin-bottom: -50px;
}

.selectbar-title {
  margin-top: 90px;
}

.category-box {
  display: flex;
  justify-content: center;
  padding: 10%;
  margin: 10% 10%;
  background-color: aliceblue;
  background: var(--input-color);
  border: var(--input-border);
  box-shadow: var(--input-box-shadow);
  border-radius: 20px;
  min-width: 200px;
  min-height: 200px;
}

.category-title {
  margin: auto;
}

.select-bar {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  width: 80%;
  height: 40px;
  padding: 5px 15px;
  font-size: 1.2rem;
  background: var(--input-color);
  border: 2px solid black;
  box-shadow: var(--input-box-shadow);
  border-radius: 20px;
  -webkit-appearance: none;
  background-image: url('../img/dropdown.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 35px;
}

@media screen and (min-width: 500px) {
  .select-bar {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }
  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 70px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 70px;
  }

  .category-box {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 70px;
  }

  .carrousel-title {
    margin-top: 90px;
    margin-bottom: -50px;
  }
}
