.category-box {
  display: flex;
  justify-content: center;
  padding: 10%;
  margin: 10%;
  background-color: aliceblue;
}

.select-bar {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 500px) {
  .select-bar {
    margin-left: 30%;
    margin-right: 30%;
  }
}
