:root {
  --input-color: rgba(255, 255, 255, 30%);
  --input-border: 1px solid black;
  --input-box-shadow: 2px 3px 3px rgb(85, 83, 83);
}

.contact-form {
  flex: 1 1 auto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-width: 200px;
  margin-left: 15%;
  margin-right: 15%;
}

#name {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: var(--input-color);
  border: var(--input-border);
  box-shadow: var(--input-box-shadow);
  font-size: 1.2rem;
}

#email {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: var(--input-color);
  border: var(--input-border);
  box-shadow: var(--input-box-shadow);
  font-size: 1.2rem;
}

#text-area {
  width: 100%;
  height: 250px;
  margin: 10px 0;
  padding: 15px 15px;
  border-radius: 20px;
  background-color: var(--input-color);
  border: var(--input-border);
  box-shadow: var(--input-box-shadow);
  font-size: 1.2rem;
}

.submit {
  margin-top: 10px;
  width: 50%;
  padding: 7px 7px;
  margin-bottom: 50px;
  align-self: center;
  background-color: rgba(59, 61, 65, 0.3);
  border: var(--input-border);
  border-radius: 20px;
  box-shadow: var(--input-box-shadow);
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.submit:hover {
  filter: brightness(160%);
  transform: translateX(3px);
}

.contact-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.about-us-title {
  text-align: center;
  margin: 50px;
}

.avatar {
  width: 60%;
  height: 80%;
}

.avatars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.avatar-title {
  font-size: 0.8rem;
  text-align: center;
}
.nightAvatar {
  color: white;
}

@media screen and (min-width: 800px) {
  .form {
    width: 50%;
    margin-left: 25%;
  }

  .avatars {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
  }

  .submit {
    width: 20%;
  }
}
