* {
  box-sizing: border-box;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

.footer-text {
  text-align: center;
  margin: auto;
}

footer img {
  text-align: left;
  width: 50px;
}
