.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage h1 {
  margin-top: 30px;
}

.letsGo {
  width: 600px;
  height: 300px;
  border-radius: 50%;
  margin-top: 30px;
  background-color: #9dc9dc;
  margin-top: 200px;
  font-size: large;
  font-family: 'organic_Relief';
  cursor: pointer;
}

.letsGo:hover {
  background-color: #30afe6;
}

.letsGo:active {
  box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.joke-of-the-day {
  margin-top: 200px;
}
