.jokesContainer {
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
  font-size: x-large;
  font-style: italic;
  align-items: center;
  flex-direction: column;
}

.buttonAnswer {
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.confetti-wrap {
  background: #4919db;
  padding: 20px;
}

.confetti-wrap h3 {
  margin: 0;
  color: #fff;
  letter-spacing: 1.5px;
}
