.jokesContainer {
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
  font-size: x-large;
  font-style: italic;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 20px;
}

.buttonAnswer {
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #78c0e0;
  font-family: 'railway';
  border-radius: 30px;
  font-size: medium;
  opacity: 80%;
}

.buttonAnswer:hover {
  background-color: #30afe6;
}

.confetti-wrap {
  background: #4919db;
  padding: 20px;
}

.confetti-wrap h3 {
  margin: 0;
  color: #fff;
  letter-spacing: 1.5px;
}

.nightJoke {
  color: white;
}
