.popup__body {
  padding: initial;
}

.popupBodyJoke {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionJoke {
  margin: 20px;
}

.responseJoke {
  margin: 20px;
  align-items: center;
}

.formQuestionJoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formReponseJoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.btnGo {
  width: initial;
}

.btnJoke {
  font-size: small;
  width: 100%;
}

input[placeholder='Votre question'] {
  font-style: italic;
  padding: 2px;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
}

input[placeholder='Votre réponse'] {
  font-style: italic;
  padding: 2px;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
}

input#question {
  padding: 20px 60px;
}

input#reponse {
  padding: 20px 60px;
}

label#question {
  text-align: center;
}

.sliderReponse {
  margin-bottom: 0px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .popupBodyJoke {
    margin: 40px;
  }

  .input[placeholder='Votre question'] {
    font-size: large;
  }

  input#question {
    padding: 20px 140px;
  }

  input#reponse {
    padding: 20px 140px;
  }
}
