.quiz {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 95vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.question {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  background-color: rgb(250, 250, 241, 0.5);
  padding-left: 15px;
  padding-right: 15px;
}

.reponses {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.answers {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  background-color: rgb(250, 250, 241, 0.5);
  height: 100%;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: rgb(88, 182, 198, 0.5);
}

button:active {
  cursor: pointer;
  background-color: chartreuse;
}

.hiddenQuiz {
  visibility: hidden;
}

.nbrQuest {
  text-align: center;
  grid-column: 1/3;
}
