.resultpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.animation-quiz {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

img {
  width: 60%;
  height: 60%;
}

h2 .details-quiz {
  margin-top: 30px;
  text-decoration: underline;
}

.details {
  width: 90%;
  height: 400px;
  border: solid black 2px;
  margin-bottom: 10px;
}

.restart {
  width: 200px;
  height: 60px;
  border-radius: 50%;
  margin-top: 30px;
  background-color: #78c0e0;
}
