.resultpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.result-title {
  font-size: 1.2em;
  font-weight: 500;
}

.scoreResult {
  font-size: 1.6em;
  font-weight: 700;
}

.animation-quiz {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 400px;
  height: 250px;
}
img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
}

.details-quiz {
  margin-top: 15px;
  text-decoration: underline;
  margin-bottom: 40px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  border: solid black 2px;
  border-radius: 40px;
  background: rgba(255, 253, 185, 0.5);
  margin-bottom: 10px;
  text-align: justify;
  font-weight: 600;
  line-height: 1.8em;
  padding: 50px;
  box-shadow: 0px 8px 8px black;
}

.questionBold {
  font-weight: 800;
  font-size: 1.2em;
}

.check {
  width: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrong {
  width: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-align {
  margin-bottom: 25px;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 50%;
  margin-top: 30px;
  background-color: #78c0e0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;
  box-shadow: 0px 8px 8px black;
  margin-bottom: 20px;
}

.restart:hover {
  background-color: #30afe6;
}

@media screen and (max-width: 800px) {
  .details {
    width: 80%;
    height: 80%;
    text-align: justify;
    font-weight: 600;
    line-height: 1.1em;
    padding: 20px;
  }
}
