/* Navbar */
.navbar {
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

li {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.navbar_links {
  display: flex;
  justify-content: flex-start;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  position: fixed;
  transition: all 0.5s ease-in-out;
  background-color: rgba(233, 232, 225, 0.95);
  top: 60px;
  right: -100%;
  z-index: 1;
}

.nightHeader {
  background-color: rgba(11, 64, 100, 0.95);
}
.nightText {
  color: white;
}

.open {
  right: 0;
}

.navbar_item {
  display: flex;
  width: 60%;
  align-items: center;
}

li {
  font-family: 'organic_relief';
  font-size: xx-large;
  margin: 0.6em;
}

.logoImage {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 5px;
}

.logoImageLogo {
  display: flex;
  align-items: center;
}

.navbar_link {
  transition: all 0.4s ease-in-out;
}

.navbar_link:hover {
  letter-spacing: 3px;
}

.navbar-links.active {
  display: flex;
}

.logoMenu {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  display: flex;
}

/* Menu Burger */

.toggle-button {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 5px;
}

.toggle-button .bar2 {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: 0.5s ease;
}

.nightBtn .bar2 {
  background-color: white;
}

.toggle-button .bar2::before,
.toggle-button .bar2::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.toggle-button .bar2::before {
  transform: translateY(-10px);
  /* background-color:pink; */
}
.toggle-button .bar2::after {
  transform: translateY(10px);
}

.nightBtn .bar2::before,
.nightBtn .bar2::after {
  background-color: white;
}

/* ANIMATION CROIX */

.toggle-button.open .bar2 {
  background: transparent;
}
.toggle-button.open .bar2::before {
  transform: rotate(45deg);
}
.toggle-button.open .bar2::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 1000px) {
  .navbar_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar_item {
    width: auto;
  }
  .toggle-button {
    display: none;
  }
  .logoImage {
    width: 80px;
    height: 80px;
    padding-left: 10px;
  }

  .navbarAbout {
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
  }

  li {
    font-size: large;
  }

  .menu {
    display: flex;
    position: initial;
    flex-direction: row;
    align-items: center;
    right: +100%;
    height: 8%;
    background-color: transparent;
    margin-top: 10px;
    transition: none;
    min-width: fit-content;
    justify-content: right;
  }

  .logoMenu {
    display: none;
  }

  .navbarLogo {
    display: flex;
    align-items: center;
  }
}

/* Night Mode Button */

.nightMode {
  margin-left: 1vw;
  margin-top: 25px;
  margin-bottom: auto;
}
#toggle {
  display: none;
}
.nightModeBtn {
  display: inline-block;
  width: 80px;
  height: 25px;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.nightModeBtn::after {
  content: '🌞';
  width: 30px;
  height: 30px;
  background-color: #ffe087;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -5px;
  left: 0;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: background-color 2s;
  transform: 1s ease-in;
}
#toggle:checked + .nightModeBtn::after {
  content: '🌜';
  background-color: #0b4064;
  transform: translateX(50px) rotate(360deg);
}
